<section class="how-to">
    <aside>
        <div class="content">
            <img alt="Checking some code" src="../../../assets/git_logo.png">
            <h4>Coding: Check the code</h4>
            <p>Consectetuer adipiscing elit. Morbi commodo ipsum sed gravida orci magna rhoncus pulvinar odio lorem.</p>
            <a title="Check the code." href="https://github.com/feliperod0519">Connect</a>
        </div>
    </aside>
    <aside>
        <div class="content">
            <img alt="Choosing the proper lighting" src="../../../assets/contactUs.jfif">
            <h4>How-To: Contact Us</h4>
            <p>Morbi commodo, ipsum sed pharetra gravida magna rhoncus neque id pulvinar odio lorem non turpis nullam sit amet.</p>
            <a title="How to contact us." href="http://letsCHAT.com">Learn more</a>
        </div>
    </aside>
    <blockquote>
        <p class="quote">Le faux courage attend les grandes occasions... Le courage véritable consiste chaque jour à vaincre les petits ennemis.</p>
        <p class="credit"><strong>Paul Nizan</strong><br><em>Ecrivain français</em><br>Né à Tours le 7 Février 1905</p>
    </blockquote>
</section>
