<section class="main">
    <aside>
        <div class="content trending">
            <h3><a href="#">Personal Interets</a></h3>
            <p>Bacon ipsum dolor amet tongue porchetta andouille, ham pork loin spare ribs jerky shoulder meatloaf jowl picanha <a href="http://letsCHAT.com">Hamburger bacon</a>, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.</p>
        </div>
    </aside>
    <aside>
        <div class="content find-it">
            <h3><a href="#">Where to find a member</a></h3>
            <p> Shank porchetta beef ribs, pastrami venison beef buffalo sirloin alcatra short loin kevin. Nullam sit amet enim. Lorem ipsum dolor sit amet, consect.</p>
        </div>
    </aside>
    <aside>
        <div class="content tools">
            <h3><a href="#">BIG DATA, ML, IA Anyone?</a></h3>
            <p>T-bone tri-tip swine, pancetta jowl pork chop cupim sausage chicken ribeye fatback pork alcatra capicola porchetta.</p>
        </div>
    </aside>
</section>

