<nav>
    <ul>
        <li>
            <a title="About us" href="#" aria-haspopup="true">About us</a>
            <ul>
                <li>
                    <a title="Our Project" href="#">Our pet project</a>
                </li>
            </ul>
        </li>
        <li>
            <a title="Subjects" href="#" aria-haspopup="true">Subjects</a>
            <ul>
                <li>
                    <a title="NgRx" href="#">NgRx</a>
                </li>
                <li>
                    <a title="AWS 101" href="#">AWS 101</a>
                </li>
                <li>
                    <a title="AWS ML" href="#" aria-haspopup="true">AWS ML</a>
                    <ul>
                        <li>
                            <a title="AWS-S3" href="#">S3</a>
                        </li>
                        <li>
                            <a title="AWS-Sage" href="#">AWS Sage</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a title="Products" href="#" aria-haspopup="true">Posting</a>
            <ul>
                <li>
                    <a title="Public" href="#">Public domain</a>
                </li>
                <li>
                    <a title="Post" href="#">Post</a>
                </li>
            </ul>
        </li>
        <li>
            <a title="Contact Us" href="#">Contact Us</a>
        </li>
    </ul>
</nav>
